<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Decent Movies</title>
  <link rel="stylesheet" href="style.css" / </head>

  <body>
    <div class="container">
      <form class="addEntry" action="/createMovie" method="post">
        <div class="results">
          <input name="title" type="text" placeholder="enter title (required)" />
          <input name="year" type="text" placeholder="enter year" />
          <input name="director" type="text" placeholder="enter director" />
          <input name="boxoffice" type="text" placeholder="enter boxoffice"/>
          <input name="genre" type="text" placeholder="enter genre(s)": />
          <input name="summary" type="text" placeholder="enter summary" />
          <input name="types" type="text" placeholder="types available" />
          <button type="submit" name="button">Add Entry</button>

        </div>
      </form>
      {{ #movies }}
      <div class="results">
        <p>title: {{ title }}</p>
        <p>year: {{ year }}</p>
        <p>director: {{ director.firstName }} {{ director.lastName }}</p>
        <p>boxoffice: {{ boxoffice }}</p>
        <p>genre: {{ genre }}</p>
        <p>summary: {{ synopsis }}</p>
        <p>available in: {{ format }}</p>
      </div>
      {{ /movies }}

    </div>
  </body>

</html>
